body{
    margin: 0%;
}

.menu{
    padding: 10px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-around;
    
}

/* .menu a{
    color: white;
    text-decoration: none;
}

.menu a:hover{
    background-color: tomato;
}
ul{
    list-style-type: none;
} */

/* 
.dropbtn{
    display:block;
    background-color: whitesmoke;
    position: absolute;
    z-index: 1;
}

.dropbtn a {
    padding: 10px;
    background-color: whitesmoke;
    color: black;
    display: block;
    text-decoration: none;
}

.menu :hover .dropbtn{
    display: block;
} */

