body{
    margin: 0%;
}

.header{
    padding: 10px;
    background-color: green;
    color: white;
    display: flex;
   justify-content: center;
    
}

.dropbtn{
    display: flex;
    justify-content: center;
}

.headercontent{
    float:right;
    margin: -30px;
    
}