body{
    margin: 0%;
}

.header{
    padding: 10px;
    background-color: green;
    color: white;
    display: flex;
    gap: 30px;
    justify-content: start;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.dropbtn{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.headercontent{
    float:right;
    margin: -30px;
    z-index: 0;
    
}

.thumbnail{
    z-index: 0;
    margin: -30px;
    display: flex;
    
}

.header a{
    text-decoration: none;
    color: white;
}
.header a:hover{
    color: yellow;
}